body {
    margin: 0%;
    font-family: 'Gentium Book Plus', serif;
}

.name {
    color: rgb(224, 37, 159);
}

h2 {
    font-size: 30px;
    color: black;
}

h3 {
    color: black;
    font-size: 25px;
}

hr {
    background-color: rgb(255, 255, 255);
}

p {
    color: black;
    font-size: 20px;
    text-align: justify;
}

.about {
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
    padding-left: 10%;
}

.hire-me-button {
    background-image: linear-gradient(to bottom right, orange, tomato);
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}